kogito-drools/drools-compiler/src/main/resources/META-INF/drools-processes-5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:drools="http://drools.org/drools-5.0/process" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://drools.org/drools-5.0/process" elementFormDefault="qualified">
	<xs:element name="process">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:header"/>
				<xs:element ref="drools:nodes"/>
				<xs:element ref="drools:connections"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="package-name" type="xs:string"/>
			<xs:attribute name="version" type="xs:string"/>
			<xs:attribute name="routerLayout" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="header">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:imports"/>
				<xs:element ref="drools:functionImports"/>
				<xs:element ref="drools:globals"/>
				<xs:element ref="drools:variables"/>
				<xs:element ref="drools:swimlanes"/>
				<xs:element ref="drools:exceptionHandlers"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="imports">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:import"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="import">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="functionImports">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:functionImport"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="functionImport">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="globals">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:global"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="global">
		<xs:complexType>
			<xs:attribute name="identifier" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="variables">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:variable"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="variable">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:type"/>
				<xs:element ref="drools:value"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="className" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="swimlanes">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:swimlane"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="swimlane">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="exceptionHandlers">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:exceptionHandler"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="exceptionHandler">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:action"/>
			</xs:sequence>
			<xs:attribute name="faultName" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="faultVariable" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nodes">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:start"/>
				<xs:element ref="drools:end"/>
				<xs:element ref="drools:actionNode"/>
				<xs:element ref="drools:ruleSet"/>
				<xs:element ref="drools:split"/>
				<xs:element ref="drools:join"/>
				<xs:element ref="drools:milestone"/>
				<xs:element ref="drools:subProcess"/>
				<xs:element ref="drools:workItem"/>
				<xs:element ref="drools:timerNode"/>
				<xs:element ref="drools:humanTask"/>
				<xs:element ref="drools:composite"/>
				<xs:element ref="drools:forEach"/>
				<xs:element ref="drools:eventNode"/>
				<xs:element ref="drools:fault"/>
				<xs:element ref="drools:state"/>
				<xs:element ref="drools:dynamic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="timers">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:timer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="timer">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="drools:action"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="delay" type="xs:string"/>
			<xs:attribute name="period" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="start">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="drools:triggers"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="triggers">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:trigger"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="trigger">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:constraint"/>
				<xs:element ref="drools:eventFilters"/>
				<xs:element ref="drools:mapping"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="end">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="terminate" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="actionNode">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="1">
				<xs:element ref="drools:action"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="action">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string"/>
					<xs:attribute name="type" type="xs:string"/>
					<xs:attribute name="dialect" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ruleSet">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:timers"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="ruleFlowGroup" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="split">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="drools:constraints"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="constraints">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:constraint"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="constraint">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="toNodeId" type="xs:string"/>
					<xs:attribute name="toType" type="xs:string"/>
					<xs:attribute name="name" type="xs:string"/>
					<xs:attribute name="priority" type="xs:string"/>
					<xs:attribute name="type" type="xs:string"/>
					<xs:attribute name="dialect" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="join">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="milestone">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:constraint"/>
				<xs:element ref="drools:timers"/>
				<xs:element ref="drools:onEntry"/>
				<xs:element ref="drools:onExit"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subProcess">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:mapping"/>
				<xs:element ref="drools:timers"/>
				<xs:element ref="drools:onEntry"/>
				<xs:element ref="drools:onExit"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="processId" type="xs:string"/>
			<xs:attribute name="waitForCompletion" type="xs:string"/>
			<xs:attribute name="independent" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="workItem">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:timers"/>
				<xs:element ref="drools:work"/>
				<xs:element ref="drools:mapping"/>
				<xs:element ref="drools:onEntry"/>
				<xs:element ref="drools:onExit"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="waitForCompletion" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="work">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:parameter"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:type"/>
				<xs:element ref="drools:value"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapping">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="from" type="xs:string" use="required"/>
			<xs:attribute name="to" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="onEntry">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:action"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="onExit">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:action"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="timerNode">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="delay" type="xs:string"/>
			<xs:attribute name="period" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="humanTask">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:work"/>
				<xs:element ref="drools:mapping"/>
				<xs:element ref="drools:timers"/>
				<xs:element ref="drools:onEntry"/>
				<xs:element ref="drools:onExit"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="waitForCompletion" type="xs:string"/>
			<xs:attribute name="swimlane" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="composite">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:timers"/>
				<xs:element ref="drools:onEntry"/>
				<xs:element ref="drools:onExit"/>
				<xs:element ref="drools:variables"/>
				<xs:element ref="drools:exceptionHandlers"/>
				<xs:element ref="drools:nodes"/>
				<xs:element ref="drools:connections"/>
				<xs:element ref="drools:in-ports"/>
				<xs:element ref="drools:out-ports"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="forEach">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:nodes"/>
				<xs:element ref="drools:connections"/>
				<xs:element ref="drools:in-ports"/>
				<xs:element ref="drools:out-ports"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="variableName" type="xs:string"/>
			<xs:attribute name="collectionExpression" type="xs:string"/>
			<xs:attribute name="waitForCompletion" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="in-ports">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:in-port"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="in-port">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="nodeId" type="xs:string" use="required"/>
			<xs:attribute name="nodeInType" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="out-ports">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:out-port"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="out-port">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="nodeId" type="xs:string" use="required"/>
			<xs:attribute name="nodeOutType" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventNode">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="drools:eventFilters"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="variableName" type="xs:string"/>
			<xs:attribute name="scope" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventFilters">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:eventFilter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventFilter">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="eventType" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fault">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="faultName" type="xs:string"/>
			<xs:attribute name="faultVariable" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="state">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:timers"/>
				<xs:element ref="drools:onEntry"/>
				<xs:element ref="drools:onExit"/>
				<xs:element ref="drools:constraints"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dynamic">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:variables"/>
				<xs:element ref="drools:exceptionHandlers"/>
				<xs:element ref="drools:nodes"/>
				<xs:element ref="drools:connections"/>
				<xs:element ref="drools:in-ports"/>
				<xs:element ref="drools:out-ports"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="x" type="xs:string"/>
			<xs:attribute name="y" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="connections">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="drools:connection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="connection">
		<xs:complexType>
			<xs:attribute name="from" type="xs:string" use="required"/>
			<xs:attribute name="to" type="xs:string" use="required"/>
			<xs:attribute name="fromType" type="xs:string"/>
			<xs:attribute name="toType" type="xs:string"/>
			<xs:attribute name="bendpoints" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
