drools-testing/src/org/drools/testing/core/resources/castor/META-INF/test-lang.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://drools.org/testing"
    elementFormDefault="qualified"
    xmlns:test="http://drools.org/testing">
    <xs:annotation>
        <xs:documentation xml:lang="en">
            Test schema for jbossrules.org/rtl
            Copyright 2006 jbossrules.org. All rights reserved.
        </xs:documentation>
    </xs:annotation>
    
    <xs:element name="testSuite">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="scenario" type="test:scenarioType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="xs:string"/>
            <xs:attribute name="description" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="scenarioType">
        <xs:sequence>
            <xs:element name="fact" type="test:factType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="rule" type="test:ruleType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="xs:string"/>
    </xs:complexType>
    
    <xs:complexType name="factType">
        <xs:sequence>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="field" type="test:fieldType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
    
    <xs:complexType name="fieldType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ruleType">
        <xs:sequence>
            <xs:element name="result" type="test:fieldType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="fire" use="required" type="xs:boolean"/>
    </xs:complexType>
    
</xs:schema>