kogito-jbpm/jbpm-bpmn2/src/main/resources/META-INF/drools.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<schema targetNamespace="http://www.jboss.org/drools"
        elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:drools="http://www.jboss.org/drools">

    <attribute name="packageName">
        <simpleType>
            <restriction base="string" />
        </simpleType>
    </attribute>

    <attribute name="version">
        <simpleType>
            <restriction base="string" />
        </simpleType>
    </attribute>

    <attribute name="ruleFlowGroup">
        <simpleType>
            <restriction base="string" />
        </simpleType>
    </attribute>

    <attribute name="taskName">
        <simpleType>
            <restriction base="string" />
        </simpleType>
    </attribute>

    <attribute name="priority">
        <simpleType>
            <restriction base="integer">
                <minInclusive value="1" />
            </restriction>
        </simpleType>
    </attribute>

    <attributeGroup name="onxscriptattributes">
        <attribute name="scriptFormat" type="string" use="required" />
    </attributeGroup>

    <attributeGroup name="importattributes">
        <attribute name="name" type="string" use="required" />
    </attributeGroup>

    <attributeGroup name="globalattributes">
        <attribute name="identifier" type="string" use="required" />
        <attribute name="type" type="string" use="required" />
    </attributeGroup>

    <element name="onEntry-script">
        <complexType>
            <sequence>
                <element name="script" minOccurs="1" maxOccurs="1" type="string" />
            </sequence>
            <attributeGroup ref="drools:onxscriptattributes" />
        </complexType>
    </element>

    <element name="onExit-script">
        <complexType>
            <sequence>
                <element name="script" minOccurs="1" maxOccurs="1" type="string" />
            </sequence>
            <attributeGroup ref="drools:onxscriptattributes" />
        </complexType>
    </element>

    <element name="import">
        <complexType>
            <attributeGroup ref="drools:importattributes" />
        </complexType>
    </element>

    <element name="global">
        <complexType>
            <attributeGroup ref="drools:globalattributes" />
        </complexType>
    </element>

    <element name="metadata">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" ref="drools:metaentry" />
            </sequence>
        </complexType>
    </element>

    <element name="metaentry">
        <complexType>
            <sequence>
                <element name="name" type="string" minOccurs="1" maxOccurs="1" />
                <element name="value" type="string" minOccurs="1" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

</schema>