kogito-drools/drools-test-coverage/test-suite/src/test/resources/org/drools/testcoverage/regression/xsd/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:element name="root">
         <xs:complexType>
               <xs:sequence>
                     <xs:element name="FileName" type="xs:string"></xs:element>
                     <xs:element name="Recipient" type="xs:string"></xs:element>
               </xs:sequence>
         </xs:complexType>
   </xs:element>
</xs:schema>

