kie-api/src/main/resources/org/kie/api/kmodule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  -->

<!-- For a list of all released XSD files, visit http://www.drools.org/xsd/ -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:kie="http://www.drools.org/xsd/kmodule"
            elementFormDefault="qualified" attributeFormDefault="unqualified"
            targetNamespace="http://www.drools.org/xsd/kmodule" xmlns="http://www.drools.org/xsd/kmodule">

  <!-- xsd:import namespace="http://www.w3.org/2001/XMLSchema-instance" / -->

  <xsd:element name="kmodule">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="configuration" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="kbase" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:unique name="unique-kbase-name">
      <xsd:selector xpath="kie:kbase"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
    <xsd:unique name="unique-ksession-name">
      <xsd:selector xpath="kie:kbase/kie:ksession"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
    <xsd:unique name="unique-consoleLogger-name">
      <xsd:selector xpath="kie:kbase/kie:ksession/kie:consoleLogger"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
    <xsd:unique name="unique-fileLogger-name">
      <xsd:selector xpath="kie:kbase/kie:ksession/kie:fileLogger"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>

  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="property">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="key" use="required" type="xsd:string"/>
          <xsd:attribute name="value" use="required" type="xsd:string"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="kbase">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ruleTemplate" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="ksession" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="includes" type="xsd:string"/>
      <xsd:attribute name="packages" type="xsd:string"/>
      <xsd:attribute name="default" type="xsd:boolean"/>
      <xsd:attribute name="sequential" type="xsd:boolean"/>
      <xsd:attribute name="scope" type="xsd:string"/>
      <xsd:attribute name="equalsBehavior" type="insertBehaviorEnum"/>
      <xsd:attribute name="mutability" type="mutabilityEnum"/>
      <xsd:attribute name="eventProcessingMode" type="eventModeEnum"/>
      <xsd:attribute name="prototypes" type="prototypesEnum"/>
      <xsd:attribute name="declarativeAgenda" type="declarativeAgendaEnum"/>
      <xsd:attribute name="sessionsPool" type="xsd:int"/>
      <xsd:attribute name="betaRangeIndex" type="betaRangeIndexEnum"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ruleTemplate">
    <xsd:complexType>
      <xsd:attribute name="dtable" use="required" type="xsd:string"/>
      <xsd:attribute name="template" use="required" type="xsd:string"/>
      <xsd:attribute name="row" use="required" type="xsd:int"/>
      <xsd:attribute name="col" use="required" type="xsd:int"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ksession">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice minOccurs="0" maxOccurs="1">
          <xsd:element ref="consoleLogger"/>
          <xsd:element ref="fileLogger"/>
        </xsd:choice>
        <xsd:element ref="workItemHandlers" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="calendars" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="listeners" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="channels" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="name" use="required" type="xsd:string"/>
      <xsd:attribute name="type" type="ksessionType"/>
      <xsd:attribute name="default" type="xsd:boolean"/>
      <xsd:attribute name="scope" type="xsd:string"/>
      <xsd:attribute name="clockType" type="clockTypeEnum"/>
      <xsd:attribute name="beliefSystem" type="beliefSystemEnum"/>
      <xsd:attribute name="directFiring" type="xsd:boolean"/>
      <xsd:attribute name="threadSafe" type="xsd:boolean"/>
      <xsd:attribute name="accumulateNullPropagation" type="xsd:boolean"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="consoleLogger">
    <xsd:complexType>
      <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="fileLogger">
    <xsd:complexType>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="file" use="required" type="xsd:string"/>
      <xsd:attribute name="threaded" type="xsd:boolean" default="false"/>
      <xsd:attribute name="interval" type="xsd:int" default="30"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="listeners">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element ref="ruleRuntimeEventListener" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="agendaEventListener" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="processEventListener" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="workItemHandlers">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="workItemHandler" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="workItemHandler">
    <xsd:complexType>
      <xsd:attribute name="name" use="required" type="xsd:string"/>
      <xsd:attribute name="type" use="required" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="calendars">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="calendar" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="calendar">
    <xsd:complexType>
      <xsd:attribute name="name" use="required" type="xsd:string"/>
      <xsd:attribute name="type" use="required" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ruleRuntimeEventListener">
    <xsd:complexType>
      <xsd:attribute name="type" use="required" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="agendaEventListener">
    <xsd:complexType>
      <xsd:attribute name="type" use="required" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="processEventListener">
    <xsd:complexType>
      <xsd:attribute name="type" use="required" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="channels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="channel" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="channel">
  	<xsd:complexType>
  		<xsd:attribute name="name" use="required" type="xsd:string" />
  		<xsd:attribute name="type" use="required" type="xsd:string" />
  	</xsd:complexType>
  </xsd:element>

  <xsd:simpleType name="ksessionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="stateless"/>
      <xsd:enumeration value="stateful"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="eventModeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="stream"/>
      <xsd:enumeration value="cloud"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="prototypesEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="disabled"/>
      <xsd:enumeration value="allowed"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="insertBehaviorEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="identity"/>
      <xsd:enumeration value="equality"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="mutabilityEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="allowed"/>
      <xsd:enumeration value="disabled"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="declarativeAgendaEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="enabled"/>
      <xsd:enumeration value="disabled"/>
      <xsd:enumeration value="true"/>
      <xsd:enumeration value="false"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="clockTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="realtime"/>
      <xsd:enumeration value="pseudo"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="beliefSystemEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="simple"/>
      <xsd:enumeration value="jtms"/>
      <xsd:enumeration value="defeasible"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="betaRangeIndexEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="enabled"/>
      <xsd:enumeration value="disabled"/>
      <xsd:enumeration value="true"/>
      <xsd:enumeration value="false"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
